<div class="wrapper col2">
  <div id="topnav">
    <ul>
      <li class="<%= options[:current] == "root" ? "active" : "" %>"><%= link_to "Главная", root_path %>
        <ul>
          <% temp_page = Page.where(:show_above_main => true) %>
          <% temp_page.each_with_index do |page, index| %>
              <li class=<%= index+1 == temp_page.size ? "last" : "" %>><%= link_to page.name, page_path(page.name_url) %></li>
          <% end %>
        </ul>
      </li>
      <li class="<%= options[:current] == "novelties" ? "active" : "" %>"><%= link_to "Новости", novelties_path %>
        <ul>
          <% temp = NoveltyCategory.order(:sort) %>
          <% temp.each_with_index do |category, index| %>
            <li class="<%= index+1 == temp.size ? "last" : "" %>"> <%= link_to category.title, novelties_with_cat_path(category.id) %> </li>
          <% end %>
        </ul>
      </li>
      <% menu_temp = MenuUp.order(:sort) %>
      <% menu_temp.each_with_index do |menu, index| %>
        <li class="<%= index+1 == menu_temp.size ? "last" : "" %>"  class="<%= options[:current_url] == menu.name_url ? "active" : "" %>">
          <%= link_to menu.name, menu_path(menu.name_url) %>
          <% unless menu.menu_downs.empty? %>
            <ul>
              <% menu_down_temp = menu.menu_downs.order(:sort) %>
              <% menu_down_temp.each_with_index do |down, index| %>
                <li class=<%= index+1 == menu_down_temp.size ? "last" : "" %>><%= link_to down.page.name, page_path(down.page.name_url) %></li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>