<%= meta_title("Кафедра Системного Анализа - Томский Университет Систем Управления и Радиоэлектроники") %>
<%menu :current => "root"%>

<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="featured_slide">
    <div id="featured_wrap">
      <ul id="featured_tabs">
        <li><a href="#fc1">Картинка о кафедре<br />
          <span>Что-нибудь интересное и поучительное.</span></a></li>
        <li><a href="#fc2">Картинка о кафедре<br />
          <span>Что-нибудь интересное и поучительное.</span></a></li>
        <li><a href="#fc3">Картинка о кафедре<br />
          <span>Что-нибудь интересное и поучительное.</span></a></li>
        <li class="last"><a href="#fc4">Картинка о кафедре<br />
          <span>Что-нибудь интересное и поучительное.</span></a></li>
      </ul>
      <div id="featured_content">
        <div class="featured_box" id="fc1"><img src="/assets/demo/1.gif" alt="" />
          <div class="floater"><a href="#">Далее &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc2"><img src="/assets/demo/2.gif" alt="" />
          <div class="floater"><a href="#">Далее &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc3"><img src="/assets/demo/3.gif" alt="" />
          <div class="floater"><a href="#">Далее &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc4"><img src="/assets/demo/4.gif" alt="" />
          <div class="floater"><a href="#">Далее &raquo;</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="container">
    <div id="hpage">
      <ul>
        <% temp_news = Novelty.where(:show_status => true, :cool_news => true).order("rand()").limit(4) %>
        <% temp_news.each_with_index do |news, index| %>
          <li class=<%= index+1 == temp_news.size ? "last" : "" %>>
            <h2><%= news.title %> </h2>
            <div class="imgholder"><%= link_to (image_tag news.image.url(:for_main)), novelty_path(news.id) %></div>
            <p><%= strip_tags(news.preview).html_safe.truncate(200) %></p>
            <p class="readmore"><%= link_to "Далее", novelty_path(news.id) %></p>
          </li>
        <% end %>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>