<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title><%= yield :meta_title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper col0">
  <div id="topbar">
    <div id="slidepanel">
      <div class="topbox">
        <h2>ТУСУР</h2>
        <p>ТУСУР – самый молодой из томских университетов, но никогда не был в тени. Созданный во времена прорыва в космос, бурного развития электронно-вычислительной техники, новых средств связи и радиоэлектроники вуз с первых лет своего существования находился на острие научно-технического прогресса. ТИРиЭТ, ТИАСУР, ТАСУР, ТУСУР: как бы он ни назывался, - это марка лидера. Лидера в сфере подготовки квалифицированных кадров для высокотехнологичных отраслей экономики, внедрения инновационных образовательных и исследовательских программ, прикладных разработок новой техники, аппаратуры и систем управления.</p>
        <p class="readmore"><a href="#">Далее &raquo;</a></p>
      </div>
      <div class="topbox">
        <h2>Вход для преподавателя</h2>
        <form action="#" method="post">
          <fieldset>
            <legend>Форма входа преподавателя</legend>
            <label for="teachername">Логин:
              <input type="text" name="teachername" id="teachername" value="" />
            </label>
            <label for="teacherpass">Пароль:
              <input type="password" name="teacherpass" id="teacherpass" value="" />
            </label>
            <label for="teacherremember">
              <input class="checkbox" type="checkbox" name="teacherremember" id="teacherremember" checked="checked" />
              Запомнить меня</label>
            <p>
              <input type="submit" name="teacherlogin" id="teacherlogin" value="Login" />
              &nbsp;
              <input type="reset" name="teacherreset" id="teacherreset" value="Reset" />
            </p>
          </fieldset>
        </form>
      </div>
      <div class="topbox last">
        <h2>Вход для студентов</h2>
        <form action="#" method="post">
          <fieldset>
            <legend>Вход для студентов</legend>
            <label for="pupilname">Логин:
              <input type="text" name="pupilname" id="pupilname" value="" />
            </label>
            <label for="pupilpass">Пароль:
              <input type="password" name="pupilpass" id="pupilpass" value="" />
            </label>
            <label for="pupilremember">
              <input class="checkbox" type="checkbox" name="pupilremember" id="pupilremember" checked="checked" />
              Remember me</label>
            <p>
              <input type="submit" name="pupillogin" id="pupillogin" value="Login" />
              &nbsp;
              <input type="reset" name="pupilreset" id="pupilreset" value="Reset" />
            </p>
          </fieldset>
        </form>
      </div>
      <br class="clear" />
    </div>
    <div id="loginpanel">
      <ul>
        <li class="left">Вход &raquo;</li>
        <li class="right" id="toggle"><a id="slideit" href="#slidepanel">Сотрудники</a><a id="closeit" style="display: none;" href="#slidepanel">Закрыть</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="#">Кафедра Системного Анализа</a></h1>
      <p>Факультет Моделирования Систем</p>
    </div>
    <div class="fl_right">
      <ul>
        <li class="last"><a href="#">Поиск</a></li>
        <li><a href="#">Онлайн поддержка</a></li>
        <li><a href="http://timetable.tusur.ru/faculties/fms">Расписание</a></li>
      </ul>
      <p>Тел: xxxxx xxxxxxxxxx | Mail: info@domain.com</p>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<%= yield :menu %>

<!-- ####################################################################################################### -->
<%= yield  %>
<div class="wrapper col5">
  <div id="footer">
    <div id="newsletter">
      <h2>Не теряй головы !</h2>
      <p>Заполните e-mail и подпишитесь на новости</p>
      <form action="#" method="post">
        <fieldset>
          <legend>Лента новостей</legend>
          <input type="text" value="Введите e-mail здесь&hellip;"  onfocus="this.value=(this.value=='Введите e-mail здесь&hellip;')? '' : this.value ;" />
          <input type="submit" name="news_go" id="news_go" value="GO" />
        </fieldset>
      </form>
      <p>Для разъяснений <a href="#">кликните здесь &raquo;</a></p>
    </div>

      <% temp = NoveltyCategory.where(:show_on_footer => true).order(:sort).reverse! %>
      <% temp.each do |category| %>
        <div class="footbox">
          <h2><%= link_to category.title, novelties_with_cat_path(category.id) %></h2>
          <ul>
            <% category.novelties.each_with_index do |novelty, index| %>
              <li class="<%= index+1 == category.novelties.size ? "last" : "" %>"><%= link_to novelty.title, novelty_path(novelty.id) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <br class="clear" />
  </div>
</div>

<!-- ####################################################################################################### -->
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">&copy; 2013 - Кафедра Системного Анализа - <a href="#">ТУСУР</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
